@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: black !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container {
  margin-top: 20px;
}

.jumbotron {
  background-image: asset-url('jumbo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;   /* stack main content + footer vertically */
  min-height: 100vh;        /* ensure full height even on short pages */
}

#page-content {
  flex: 1 0 auto;
  background-color: lightgrey;
}

#sticky-footer {
  flex-shrink: 0;
}