<footer id="sticky-footer" class="mt-auto py-4 bg-dark text-white">
  <div class="container text-center">
    <small>
      Copyright &copy;
      <%= link_to "Keaton Hutchinson",
                  "https://github.com/KeatonHutchinson03/Alpha_blog",
                  class: "text-white" %>
    </small>
    <nav>
      <ul class="list-inline">
        <li class="list-inline-item">
          <%= link_to "About", about_path, class: "text-white-50" %>
        </li>
      </ul>
    </nav>
  </div>
</footer>